<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../css/img/problema.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/styMenu.css">
  <link rel="stylesheet" href="../css/styPg.css">
  <script src="../Controller/scrStart.js"></script>
  <title>Desafio 2</title>
</head>
<body>

  <header>
    <div class="menu-bar">
      <div class="menu-btn" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <div class="logo">
      <img src="../css/img/problema.png" alt="Logo da DJ">
    </div>
  
    <button class="voltar" onclick="voltarInicio()"></button>

    </div>
  
    <div class="menu" id="menu">
      <br><br><br>
      <ul>
        <br>
          <li><a href="conteudo.html"><strong>Página Inicial</strong></a></li>
          <hr>
          <li><strong>DESAFIOS</strong></li>
          <br>
          <li><a href="imprimir.html">Desafio 1</a></li>
          <li><a href="calcular.html">Desafio 2</a></li>
          <li><a href="decrescente.html">Desafio 3</a></li>
          <li><a href="tabuada.html">Desafio 4</a></li>
          <li><a href="divisivel.html">Desafio 5</a></li>
          <li><a href="idade.html">Desafio 6</a></li>
      </ul>
    </div>
  </header>

  <section>
  
    <nav id="cabeca">
    <button onclick="voltar()" class="voltarD"> < Voltar </button>
    <div id="fundo"><h1 id="number2">Desafio 2</h1></div>
    <button onclick="prox()" class="voltarD">Próximo ></button>
    </nav>


    <div id="conteudo-box">
      <h1 class="txt2">Calcule a soma dos números de 1 a 200</h1>
      <hr>
      <div id="botoes">
      <button onclick="calcular()" id="criar">CRIAR</button>
      <button onclick="limpar()" id="criar">Limpar</button>
      </div>
      
    </div>
  
</section>

<div id="resultado2"></div>
  
  <script src="../Controller/des2.js"></script>

</body>
</html>