<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../css/img/problema.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/styMenu.css">
  <link rel="stylesheet" href="../css/sytCont.css">
  <script src="../Controller/scrStart.js"></script>
  <title>SUMÁRIO</title>
</head>
<body>

  <header>
    <div class="menu-bar">
      <div class="menu-btn" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <div class="logo">
      <img src="../css/img/problema.png" alt="Logo da DJ">
    </div>
  
    <button class="voltar" onclick="voltarInicio()"></button>

    </div>
  
    <div class="menu" id="menu">
      <br><br><br>
      <ul>
        <br>
          <li><a href="conteudo.html"><strong>Página Inicial</strong></a></li>
          <hr>
          <li><strong>DESAFIOS</strong></li>
          <br>
          <li><a href="imprimir.html">Desafio 1</a></li>
          <li><a href="calcular.html">Desafio 2</a></li>
          <li><a href="decrescente.html">Desafio 3</a></li>
          <li><a href="tabuada.html">Desafio 4</a></li>
          <li><a href="divisivel.html">Desafio 5</a></li>
          <li><a href="idade.html">Desafio 6</a></li>

      </ul>
    </div>
  </header>

  <section>
    <img src="../css/img/nomeP.png" id="fundo"></img>
    <div id="conteudo">
      <div id="conteudo-box">
        <a href="imprimir.html" class="box"><h2>Desafio 1</h2></a>
        <a href="calcular.html" class="box"><h2>Desafio 2</h2></a>
        <a href="decrescente.html" class="box"><h2>Desafio 3</h2></a>
        <a href="tabuada.html" class="box"><h2>Desafio 4</h2></a>
        <a href="divisivel.html" class="box"><h2>Desafio 5</h2></a>
        <a href="idade.html" class="box"><h2>Desafio 6</h2></a>
      </div>
    </div>
  </section>
  
</body>
</html>